/*  *I am very appriciate those who offer advice, and thanks for reviewing my code
    *but I was upset after seeing someone leave a strong word about my work
    *my code may be bad, but I am coding it with all my heart
    *so stop attacking my attitude towards this course and this homework
    *I will try harder to meet teacher's need
    *And I hope someone can show a little mercy to his classmate
    *           —— Sirius After reading some comment
*/

/* bug fix log
    * change screenshot way to make webpage seems shorter
    * slightly move "32% and 88comments" to make it looks like excepted one
    * try to use font-stretch to narrow font in right side bar but failed
    * center banner

*/

body {
    font-size: 8pt;
    font-family: Verdana, Tahoma;
    padding: 0px;
    margin: 0px;
    /*space under img, can also fixed by vertical-aglin*/
    background-image: url('http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000');
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma, Verdana;
}

div.banner {
    text-align: center;
    background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000);
    background-repeat: repeat-x;
}

div.comments {
    border-width: 4px;
    border-color: grey;
    border-style: solid;
    width: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

div.poster-and-cast {
    float: right;
    width: 250px;
    background-color: #A2B964;
    margin-bottom: 15px;
    /* useless tag*/
    font-stretch: semi-condensed;
    /* useless tag*/
}

dt {
    font-weight: bold;
    margin-top: 1em;
    margin-left: 1em;
}

dd {
    margin-right: 1em;
}

p.page {
    position: absolute;
    font-size: 10px;
    bottom: 0%;
    text-align: center;
    vertical-align: center;
    background-color: #A2B964;
    width: 800px;
    padding: 5px;
    
    margin-bottom: 0px;
}

div.score {
    background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000);
    background-repeat: repeat-x;
}

span.percentage-and-review-count {
    position: relative;
    bottom: 3px;
}

span.percentage {
    font-size: 48pt;
	font-weight: bold;
	color: red;
	vertical-align: bottom;
	font-family: Verdana, Tahoma, sans-serif;
}

span.review-count {
    font-size: 8pt;
    color: white;
    vertical-align: 60%;
	
}

p.comment-left,
p.comment-right {
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    background-color: #E1D697;
    font-weight: bold;
    padding: 8px;
    overflow: hidden;
    /**/
}

p.comment-right {
    margin-right: 11px;
}

.author-left,
.author-right {
    padding-bottom: 30px;
    padding-top: 5px;
}

div.left,
div.right {
    margin-left: 12px;
    width: 258.5px;
    float: left;
}

img.rotten {
    float: left;
    margin-right: 5px;
}
span.org{
    font-style: italic;
}
span.w3c {
    float: right;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 20;
}