    body {
        font-size: 8pt;
        font-style: Verdana, Tahoma, sans-serif;
        background-image: url('http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000');
    }

    h1 {
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
        font-style: Tahoma, Verdana, sans-serif;
    }

    div.banner {
        position: top;
        background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000);
        background-repeat: repeat-x;
    }