h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic", Futura, Verdana;
    align-content: center;
}
h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic", Futura, Verdana;
    align-content: left;
}