h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic", Futura, Verdana, sans-serif;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.2em;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic", Futura, Verdana, sans-serif;
    font-weight: normal;
    text-decoration: underline;
    letter-spacing: 0.2em;
}

blockquote.comment {
    background-color: #FFFFC8;
    font-style: italic;
    font-family: Georgia, Garamond, serif;
}

a {
    color: #A4A400;
    font-family: Georgia, Garamond, serif;
}

p,
ol,
ul {
    font-family: Georgia, Garamond;
}

body {
    background-attachment: fixed;
    background-image: url('https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg');
}

ul {
    list-style-image: url('https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif');
}