h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic";
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic";
    font-weight: normal;
    text-decoration: underline;
}

p.comment {
    background-color: #FFFFC8;
    margin-left: 50px;
    font-style: italic;
}

a {
    color: #A4A400;
}

p,
ol,
ul {
    font-family: Georgia, Garamond;
}