h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic";
    text-align: center;
    margin: 20 auto;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.2em;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic";
    font-weight: normal;
    text-decoration: underline;
    letter-spacing: 0.2em;
}


/*
p.comment {
    background-color: #FFFFC8;
    margin-left: 50px;
    font-style: italic;
}
*/

blockquote.comment {
    background-color: #FFFFC8;
    font-style: italic;
}

a {
    color: #A4A400;
}

p,
ol,
ul {
    font-family: Georgia, Garamond;
}

body {
    background-image: url('https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg');
}

ul {
    list-style-image: url('https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif');
}