body {
    padding: 0px;
    margin: 0px;
}

#bottom-positioner {
    position: absolute;
    bottom: 20%;
    right: 50%;
}

#button {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20%;
    right: 50%;
}

ul {
    list-style: none;
    position: absolute;
    bottom: 20%;
    right: 50%;
    padding: 0px;
    margin: 0px;
}

#info-bar {
    background-color: gray;
    border-radius: 50%;
    opacity: 0;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.5s;
    position: absolute;
    bottom: 80%;
    right: 0%;
}

#button:hover #info-bar {
    opacity: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 400%;
    right: -50%;
}

.info {
    width: 60px;
    height: 60px;
}

#control-ring-container li {
    opacity: 0;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}

.mask {
    background-image: url("assets/images/mask.png");
    -webkit-transition: all 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0%;
    top: 0%;
}

#button:hover .mask {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    right: 1200%;
    top: -600%;
}

.history {
    background-image: url("assets/images/history.png");
    -webkit-transition: all 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0%;
    top: 0%;
}

#button:hover .history {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    right: 1450%;
    top: -320%;
}

.setting {
    background-image: url("assets/images/setting.png");
    -webkit-transition: all 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0%;
    top: 0%;
}

#button:hover .setting {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    right: 500%;
    top: 200%;
}

div.apb {
    -webkit-transition: all 0.5s;
    width: 30px;
    height: 30px;
    background-color: #97A1DD;
    background-image: url("assets/images/atplus_white.png");
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    right: 50%;
}

div.icon {
    opacity: 0;
}

#button:hover .apb {
    width: 90px;
    height: 90px;
    background-image: url("assets/images/atplus_green.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgba(48, 63, 159, 1);
    -webkit-transition: all 0.5s;
    position: absolute;
    bottom: 20%;
    right: 50%;
}