body {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

#bottom-positioner {
    position: absolute;
    bottom: 20%;
    right: 50%;
}

#button {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20%;
    right: 50%;
}

ul {
    list-style: none;
    /*
    position: absolute;
    bottom: 20%;
    right: 50%;*/
    padding: 0px;
    margin: 0px;
}

#info-bar {
    background-color: gray;
    border-radius: 50%;
    opacity: 0;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.5s;
    position: absolute;
    bottom: 80%;
    right: 0%;
}

#button:hover #info-bar {
    opacity: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 400%;
    right: -50%;
}

.info {
    width: 60px;
    height: 60px;
}

#control-ring-container li {
    opacity: 0;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}

.mask {
    background-image: url("assets/images/mask.png");
    -webkit-transition: all 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0%;
    top: 0%;
}

#button:hover .mask {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    right: 400%;
    top: -350%;
}

.history {
    background-image: url("assets/images/history.png");
    -webkit-transition: all 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0%;
    top: 0%;
}

#button:hover .history {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    right: 500%;
    top: -150%;
}

.setting {
    background-image: url("assets/images/setting.png");
    -webkit-transition: all 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0%;
    top: 0%;
}

#button:hover .setting {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    right: 150%;
    top: 200%;
}

.message{
    background-image: url("assets/images/message.png");
    -webkit-transition: all 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0%;
    top: 0%;
}
#button:hover .message{
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 80%;
    right: 350%;
}
.unread{
    background-color: red;
    text-align: center;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.5s;
}

#button:hover .unread{
    width: 20px;
    height: 20px;
    opacity: 1;
    position: absolute;
    right: -10%;

    
}

.sign {
    background-image: url("assets/images/signin.png");
    -webkit-transition: all 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0%;
    top: 0%;
}
#button:hover .sign {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    right: -80%;
    top: 120%;
}
div.apb {
    -webkit-transition: all 0.5s;
    width: 30px;
    height: 30px;
    background-color: #97A1DD;
    background-image: url("assets/images/atplus_white.png");
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    right: 50%;
}

div.icon {
    opacity: 0;
}

#button:hover .apb {
    width: 90px;
    height: 90px;
    background-image: url("assets/images/atplus_green.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgba(48, 63, 159, 1);
    -webkit-transition: all 0.5s;
    position: absolute;
    bottom: 20%;
    right: 50%;
}